---

---

<footer class="bg-foots py-5 lg:py-10 px-5 lg:px-20">
    <div class=" flex flex-col lg:flex-row justify-center lg:justify-between">
        <div class="flex flex-col items-center lg:items-start justify-center space-y-2">
            <div class="flex flex-row items-center gap-1">
                <i class="fa-solid fa-graduation-cap text-secondary text-3xl"></i>
                <div class="flex flex-col">
                    <h1 class="text-xl lg:text-2xl font-semibold text-secondary">
                        Sinergi
                    </h1>
                    <span class="text-lg lg:text-lg text-secondary">University</span>
                </div>
            </div>
            <div class="text-center lg:text-start">
                <p class="text-lg">Jl. Kemang, Kota Jakarta Selatan, Daerah Khusus Ibukota Jakarta</p>
            </div>
            <div class="flex flex-row space-x-2 py-5 lg:py-0">
                <i class="fa-brands fa-facebook-f text-icons text-2xl"></i>
                <i class="fa-brands fa-twitter text-icons text-2xl"></i>
                <i class="fa-brands fa-instagram text-icons text-2xl"></i>
                <i class="fa-brands fa-youtube text-icons text-2xl"></i>
            </div>
        </div>
        
        <div class="flex flex-col  items-center space-y-2.5 lg:space-y-0 lg:grid lg:grid-cols-2 lg:gap-x-5">
            <h1 class="font font-semibold text-secondary text-base">Academic <i class="fa-solid fa-arrow-right ml-1 text-icons"></i></h1>
            <h1 class="font font-semibold text-secondary text-base">News <i class="fa-solid fa-arrow-right ml-1 text-icons"></i></h1>
            <h1 class="font font-semibold text-secondary text-base">Admission <i class="fa-solid fa-arrow-right ml-1 text-icons"></i></h1>
            <h1 class="font font-semibold text-secondary text-base">About Us <i class="fa-solid fa-arrow-right ml-1 text-icons"></i></h1>
        </div>
    </div>
    <hr class="mt-5 border-line2 border-2">
    <p class="text-center font-normal text-foots2 mt-5 text-sm">© 2023 Sinergi University. All Rights Reserved.</p>
</footer>
